<configuration>
    <!--<property name="LOG_DIR" value="/sdcard/Android/data/files" />-->
    <property scope="context" name="LOG_DIR" value="../logs" />
    <!-- Create a logcat appender -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <!-- Create a file appender for INFO-level messages -->
    <appender name="InfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_DIR}/info.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/app_%d{yyyyMMdd}.log</fileNamePattern>
            <!-- keep 1 day worth of history -->
            <maxHistory>1</maxHistory>
        </rollingPolicy>


        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="OpenVPNLog2" class="ch.qos.logback.core.FileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter"></filter>-->
        <!--<file>${LOG_DIR}/openVPN.log</file>-->

        <!--<encoder>-->
            <!--<pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <appender name="OpenVPNLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_DIR}/info.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/openVPN_%d{yyyyMMdd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>1</maxHistory>
        </rollingPolicy>


        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.rroadvpn.openvpn.core.OpenVPNStatusService" level="INFO">
        <appender-ref ref="OpenVPNLog" />
    </logger>

    <!--Write INFO (and higher-level) messages to logcat -->
    <root level="INFO">
        <appender-ref ref="logcat" />
        <appender-ref ref="InfoLog" />
    </root>
    <root level="TRACE">
        <appender-ref ref="logcat" />
    </root>

</configuration>